################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MoneyForAll/.vs/MoneyForAll/v16
/MoneyForAll/obj/Debug
/MoneyForAll/bin/Debug
